import clsx from 'clsx';
import * as React from 'react';
import { memo, NamedExoticComponent } from 'react';
import { useStyles } from 'react-treat';

import * as styleRefs from './{{pascalCase name}}.treat';

interface Props {
	example?: boolean;
}

export const {{pascalCase name}}: NamedExoticComponent<Props> = memo(() => {
	const styles = useStyles(styleRefs);

	return (<p className={clsx(styles.root)}>
		New component {{name}}! 🎉 Edit lib/components/{{pascalCase name}}/{{pascalCase name}}.tsx
	</p>);
});
