import clsx from 'clsx';
import React, { ExoticComponent, memo } from 'react';

import styles from './{{pascalCase name}}.scss';

interface Props {
	example?: boolean;
}

export const {{pascalCase name}}: ExoticComponent<Props> = memo(() => {
	return (<p className={clsx(styles.root)}>
		New component {{name}}! 🎉 Edit lib/components/{{pascalCase name}}/{{pascalCase name}}.tsx
	</p>);
});
